#!/bin/bash
set -e
psql -U postgres -d postgres <<EOF
CREATE ROLE {{ replication_user }} WITH REPLICATION LOGIN PASSWORD '{{ replication_password }}';
CREATE ROLE admin WITH SUPERUSER CREATEDB LOGIN PASSWORD '{{ superuser_password }}';
EOF